<!doctype html>
<html>
    
    <head>
        <title>Reorder Columns</title>
        <link rel="stylesheet" href="Contents/libs/css/bootstrap.min.css">
        <link rel="stylesheet" href="Contents/libs/css/angular-toastr.min.css">
        <link rel="stylesheet" href="Contents/reorder-app.css">
        <script src="Scripts/libs/jquery.min.js"></script>
        <script src="Scripts/libs/jquery-ui.min.js"></script>
        <script src="Scripts/libs/bootstrap.min.js"></script>
        <script src="Scripts/libs/angular.min.js"></script>
        <script src="Scripts/libs/angular-animate.min.js"></script>
        <script src="Scripts/libs/angular-toastr.tpls.min.js"></script>
        <script src="Scripts/libs/sortable.min.js"></script>
        <script src="Scripts/app.js"></script>
    </head>
    
    <body data-ng-app="reorder-app">
        <div data-ng-controller="reorderCtrl" class="container">
            <div class="row">
                <h2>Reorder List Columns</h2>
                <hr>
            </div>
            <div class="row">
                <form class="form-horizontal col-md-8">
                    <div class="form-group">
                        <label for="selected-list" class="control-label">List</label>
                        <select id="selected-list" data-ng-model="selectedList" class="form-control" data-ng-options="list as list.Title for list in allList"></select>
                    </div>
                    <div class="form-group">
                        <label for="selected-content-type" class="control-label">Content Type</label>
                        <select id="selected-content-type" data-ng-model="selectedList.selectedContentType" data-ng-change="contentTypeOnchange(selectedList.selectedContentType)"
                        class="form-control" data-ng-options="contentType as contentType.Name for contentType in selectedList.ContentTypes.results"></select>
                    </div>
                </form>
            </div>
          
            <div class="row" data-ng-show="selectedList.selectedContentType.Fields.length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Column</th>
                            <th>Type</th>
                            <th>Position from Top</th>
                        </tr>
                    </thead>
                    <tbody data-ui-sortable data-ng-model="selectedList.selectedContentType.Fields">
                        <tr data-ng-repeat="field in selectedList.selectedContentType.Fields" class="item">
                            <td>{{field.Title}}</td>
                            <td>{{field.TypeDisplayName}}</td>
                            <td>{{$index + 1}}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="" class="btn btn-primary" data-ng-click="applyOrder(selectedList.selectedContentType.Fields)">APPLY</a>
            </div>
        </div>
    </body>

</html>